@import "tailwindcss";

@theme {
  --font-Sekuya: "Sekuya";
  --font-bigText: "Sekuya";
}

.hide-scrollbar-x {
  scrollbar-width: none;
}

.bg-jordan {
  @apply bg-[#111];
}

/* Nike-style overlay scrollbar */

.nike-scroll::-webkit-scrollbar {
  height: 0px; /* Chrome / Edge */
}
