@import "tailwindcss";

@theme {
  --font-Sekuya: "Sekuya";
  --font-bigText: "Sekuya";
}

.hide-scrollbar-x {
  scrollbar-width: none;
}
<<<<<<< HEAD

 
=======
.bg-jordan {
  @apply bg-[#111];
}
>>>>>>> 4896ea846ef8bcc8bd2dfbb644aec6c1f411ecee
